#menu {
    border: solid black 3px;
    float: left;
    width: 6em;
    margin: 5px;
    padding: 5px;
}

#article {
    float: left;
    width:  30em;
    margin: 5px;
    padding: 5px;
    border: solid black 2px;
}

#author {
    font-style: italic;
}

#date {
    font-style: italic;
}
